
<!--table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%#= render partial: 'ecomics/ecomic_overview', collection: ecomics, locals: { editable: editable } %>
  </tbody>
</table-->

<div class="row">
    <%= render partial: 'ecomics/ecomic_overview', collection: ecomics, locals: { editable: editable } %>

</div>


