/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// FONTS
.navbar a {
  font-family: "sensation-bold";
  font-size: 11px;
  letter-spacing: 1px;
}
body {
  font-family: "sensation" !important;
  font-size: 15px;
}
h3 {
  font-family: "sensation-bold";
  font-size: 18px;
  letter-spacing: 1px;
  margin: 5px 0 5px 0;
}
h1 {
  font-family: "sensation-bold";
  //font-size: 18px;
  letter-spacing: 1px;
  margin-top: 10px;
}
.bold {
  font-family: "sensation-bold";
}

// NAVBAR
body {
  margin-top: 81px;
}

.navbar {
  background-color: white;
  color: black;

  li:hover a.navbar-link { background-color: #e7e7e7; }
  .active { background-color: #e7e7e7; }
  .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background-color: #e7e7e7;
    color: black;
  }


/*  .nav{
    float: none;
    text-align: center;
  }
  .nav > li{
    float: none;
    display: inline-block;
    vertical-align: top;
  }*/

  .navbar-elem {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar-logo {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .navbar-toggle {
    margin-top: 20px;
  }

}

// GENERAL

.text-holder {
  word-wrap: break-word;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
