/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// FONTS
.navbar {
  * {
    font-family: "bebas" !important;
  }
}


// NAVBAR

.navbar {
  //height: 100px;
  .container-fluid {
    //margin-left: 40px;
    //margin-right: 40px;
  }

  .navbar-right {
    height: 50px;
    width: 138px;
  }

  li:hover a.navbar-link { background-color: #e7e7e7; }

  .navbar-collapse {
    text-align: center;
  }
  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}

.navbar-logo {
  margin-top: 10px;
}
