// Place all the styles related to the Ecomics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// MY ECOMICS

.myecomics-toolbar {
  margin-bottom: 10px;
}


// ECOMIC OVERVIEW

.ecomic-overview {
  .ecomic-overbody {
    background-color: #e7e7e7;
    padding: 20px;
  }
  padding: 10px;
}

.ecomic-overview-description {
  margin-left: 10px;
  height: 54px; 
}
.ecomic-overview-auteur {
  //float: left;
}
.ecomic-overview-picture {
  //img { height: 190px; }
}
.ecomic-overview-links {
 a { float: right; }
}


// EDIT ECOMIC

.ecomic-right-panel {
  border-left: 1px solid;
  border-color: #e7e7e7; 
}



//SHOW ECOMIC
.ecomic-image-holder {
  padding-top: 10px;
}

