@font-face {
  font-family: 'bebas';
  src: font-url('BEBAS___.TTF') format('truetype');
}

@font-face {
  font-family: 'sensation';
  src: font-url('Sansation_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'sensation-bold';
  src: font-url('Sansation_Bold.ttf') format('truetype');
}
